{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login Colaborador{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h2 class="text-center mb-4">Login Colaborador</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
                <div class="text-center mt-3">
                    <a href="{% url 'core:home' %}">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
